:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
  width: 80lvw;
  margin: 5lvh auto;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  @media (min-width: 500px) {
    display: grid;
    align-items: top;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-template-areas:
      "header about"
      "navigation navigation"
      "next flying";
  }
  div {
    p, li {
      max-width: 66ch;
      margin: 0 auto;
      line-height: 1.5rem;
    }
  }
  div#about {
    grid-area: about;
  }
  div#next {
    grid-area: next;
  }
  div#flying {
    grid-area: flying;
  }
  header {
    grid-area: header;
    display: flex;
  }
  navigation {
    grid-area: navigation;
    & ul {
      padding: unset;
      > li {
        display: inline;
      }
      > li::after {
        content: " ";
      }
    }
  }
}
